
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  img {
    width: 100%;
  }
  
  img.rounded {
    border-radius: 10px;
  }

  .image-circle {
      border-radius: 15%;
  }
  
  main h2 {
    font-size: 28px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
  }
  
  main h3 {
    font-size: 22px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
  }
  
  main p {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5em;
   margin-bottom: 0em;
  }
  
  /* Header */
  
  header {
    background-color: #90e5ff ;
    margin-bottom: 40px;
    display: block;
  }
  
  header h1 {
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
  }
  
  header nav {
    display: flex;
    justify-content: center;
  
  }
  
  header nav ul {
    display: flex;
    padding-left: 0;
    list-style: none;
  }

header nav ul li a {
  color: black;
text-decoration: none;
margin: 0 20px 0 0;
}

header nav ul li:last-child a{
  margin-right: 0;
}





  /*  Main */
  
  main  .wrapper  h2 {
    padding-left: 10px;
    margin-bottom: 0;
  }
   main fieldset {
     text-align: center;
   }
  
  /* Groups & Items Mobile First */
  .wrapper {
    width: 100%;
  }
  
  .group {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
    margin: 10px;
  }
  
  /* Groups & Items Desktop */
  
  @media all and (min-width: 800px) {
    .wrapper {
      width: 80%;
      margin: auto;
    }
    header {
      display: flex;
      justify-content: space-between;
      padding: 0 30px;
    }

    header h1 {
        font-size: 45px;
        margin: 15px;
        padding-top: 5px;
      }
      
      header nav {
        margin-top: 20px;
      }
    
      header nav ul li a:hover {
        color: deeppink;
      }
    
  
    .group {
      flex-direction: row;
    }
  }
  
  /* Sections */
  
  #home, #portfolio, #contact, #interests {
    margin-bottom: 120px;
  }
  
  /* About Section */
  
  #about {
    background-color:  #90e5ff;
    padding: 20px 0 30px 0;
    margin: 120px 0;
  }

 /* Footer */
 footer {
    background-color:   #90e5ff;
    margin-bottom: 0;
    display: block;
    text-align: center;
  }